*{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#general{
    width: 1200px;
    border: 1px solid #ccc;
    margin: 0px auto;
    margin-top: 20px;
}

#header{
    width: 100%;
    height: 100px;
    background: rgb(15, 118,236);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 90px;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{
    background-color: #eeeeee;
}

#menu ul li{
    /* display: inline-block; */
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ccc;
}

#menu ul li a{
    display: block;
    color: #444;
}

#menu ul li:hover{
    background: rgb(16, 75,143);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido{
    float: left;
    width: 69%;
}

#lateral{
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    overflow-y: scroll;
}

#contenido h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 2px gray;
}

#contenido .caja{
    float: left;
    position: relative;
    width: 40%;
    height: 250px;
    background: red;
    border: 5px solid blue;
    color: white;
    margin: 20px;
    margin-left: 40px;
    background-color: #ccc;
    border: 1px solid gray;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px gray;
    border-radius: 50px 10px 4px 61px;
}

.sombra-interior{
    box-shadow: 5px 5px  10px gray inset !important; 
}

#footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #ccc;
    background: #eeeeee;
    text-align: center;
    color: #444;
}

.libre{
    position: absolute;
    top: 300px;
    left: 50%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}

.libre1{
    z-index: 102;
}

.libre2{
    border: 1px solid black;
    background-color: green;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
    position: absolute;
    top: 280px;
    left: 52%;
    z-index: 101;
}

.fija{
    position: fixed;
    background-color: blue;
    top: 50%;
    left: 0px;
    border: 1px solid black;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}