#boton{
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(6, 83, 6);
    transition: all 500ms;
}

#boton:hover{
    border-radius: 15px;
    background-color: orangered;
    border: 5px solid red;
}

/* Animaciones */
#caja{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background: lightgreen;
    color: white;
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplazamiento; /* como quiero que haga */
    animation-duration: 10s; /* el tiempo que quiero que dure la animacion  */
    animation-iteration-count: infinite; /* la cantidad de tiempo que quiero que dure la animacion */
    animation-timing-function: linear;
}

/* para lograr  una animacion primero se tiene que crear un keyframe.
esto se hace usando @keyframe */
@keyframes desplazamiento{
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 1200px;
        transform: rotate(360deg);
        border-radius: 999px;
    }
    75%{
        background: red;
    }
    77%{
        border: 10px dashed blue;
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
}

